/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--login start here--*/
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif, "宋体";
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

::-webkit-scrollbar-button:vertical {
    display: none
}

::-webkit-scrollbar-track:vertical {
    background-color: black
}

::-webkit-scrollbar-track-piece {
    background: #FDFDFD;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #8E8E8E;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #3B3B3B
}

::-webkit-scrollbar-corner:vertical {
    background-color: #535353
}

::-webkit-scrollbar-resizer:vertical {
    background-color: #FF6E00
}

@-webkit-keyframes animate-cloud {
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}

@-moz-keyframes animate-cloud {
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}

@-ms-keyframes animate-cloud {
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}

@-o-keyframes animate-cloud {
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}

@-webkit-keyframes stage-0 {
    from {
        -webkit-transform: scale(0.01);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes stage-0 {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(1);
    }
}

@-moz-keyframes stage-0 {
    from {
        -moz-transform: scale(0.01);
    }
    to {
        -moz-transform: scale(1);
    }
}

@-o-keyframes stage-0 {
    from {
        -o-transform: scale(0.01);
    }
    to {
        -o-transform: scale(1);
    }
}

html {
    height: 100%;
}

body {
    background: url(../images/cloud.png) 0 bottom repeat-x #049ec4;
    -webkit-animation: animate-cloud 20s linear infinite;
    -moz-animation: animate-cloud 20s linear infinite;
    -ms-animation: animate-cloud 20s linear infinite;
    -o-animation: animate-cloud 20s linear infinite;
    animation: animate-cloud 20s linear infinite;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.main {
    position: relative;
}

.main .slide-content {
    width: 100%;
    min-width: 980px;
    height: 100%;
    min-height: 640px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.main .slide-content .cloud {
    position: absolute;
    width: 200px;
    height: 100px;
    background: url(../images/object.png);
    left: 0px;
    top: 0px;
}

.main .slide-content .cloud-0 {
    background-position: -580px -240px;
}

.main .slide-content .cloud-1 {
    background-position: -550px 0px;
    height: 140px;
    width: 260px;
}

.main .slide-content .cloud-2 {
    background-position: -580px -140px;
}

.main .slide-content .cloud-3 {
    background-position: -350px -140px;
}

.main .slide-content .cloud-4 {
    background-position: -350px 0px;
    height: 140px;
}

.clear {
    clear: both;
}

.login {
    width: 22.5%;
    margin: 0 auto;
    background: #fff;
    padding: 60px 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 80px 0px 30px 0px;
}

.rib {
    width: 402px;
    height: 5px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -1%;
    left: 0%;
}

form {
    text-align: center;
}

.login input[type="text"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #bcbcbc;
    padding: 15px 20px;
    background: #F3F5F6;
    border-top: 3px solid #EEF0F1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0px 0px 10px 0px;
    width: 70%;
    -webkit-appearance: none;
    display: inline-block;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.login input[type="password"] {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #bcbcbc;
    padding: 15px 20px;
    background: #F3F5F6;
    border-top: 3px solid #EEF0F1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0px 0px 10px 0px;
    width: 70%;
    -webkit-appearance: none;
    display: inline-block;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.login input[type="submit"] {
    background: #2ECC71;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 7px;
    width: 82%;
    border-radius: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0px 0px 0px 0px;
    border-bottom: 3px solid #2AB766;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
}

#foot {

    clear: both;
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: #9e9e9e;
    font-size: 12px;
    position: absolute;
    bottom: 3px;
}

.login input[type="submit"]:hover {
    background: #4C69D9;
    border-bottom: 3px solid #C14171;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.copyright {
    padding: 150px 0px 0px 0px;
    text-align: center;
}

.copyright p {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.copyright p a {
    font-size: 15px;
    font-weight: 400;
    color: #2ECC71;
}

.down {
    position: absolute;
    bottom: 5%;
    left: 22%
}

.down a {
    color: #4067D3;
    text-decoration: none;
}

.down span {
    color: #858585
}

.copyright p a:hover {
    color: #E92E74;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/*--login end here--*/
/*--meadia quiries start here--*/
@media (max-width: 1440px) {
    .login {
        width: 25.2%;
    }

    .social ul li a.face {
        padding: 0.5em 1em 0.5em 2.2em;
    }

    .social ul li a.face:hover {
        padding: 0.5em 1em 0.5em 2.2em;
    }

    .social ul li a.twit {
        padding: 0.5em 1em 0.5em 2.5em;
    }

    .social ul li a.twit:hover {
        padding: 0.5em 1em 0.5em 2.5em;
    }
}

@media (max-width: 1366px) {
    .login {
        width: 26.3%;
    }
}

@media (max-width: 1280px) {
    .login {
        width: 28.4%;
    }
}

@media (max-width: 1024px) {
    .login {
        width: 35.2%;
    }
}

@media (max-width: 768px) {
    .login {
        width: 46.8%;
    }
}

@media (max-width: 736px) {
    .login {
        width: 50.07%;
    }
}

@media (max-width: 667px) {
    .login {
        width: 55.5%;
    }
}

@media (max-width: 640px) {
    .login {
        width: 56.4%;
    }
}

@media (max-width: 600px) {
    .login {
        width: 61.75%;
    }
}

@media (max-width: 568px) {
    .login {
        width: 65.3%;
    }
}

@media (max-width: 480px) {
    .login {
        width: 75.2%;
    }

    .login input[type="submit"] {
        font-size: 14px;
        padding: 10px 7px;
        width: 80%;
    }

    .login input[type="password"] {
        font-size: 15px;
        padding: 10px 20px;
    }

    .login input[type="text"] {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 414px) {
    .rib {
        width: 352px;
        background-size: 100%;
    }
}

@media (max-width: 384px) {
    .rib {
        width: 315px;
    }
}

@media (max-width: 375px) {
    .login {
        width: 76.8%;
    }
}

@media (max-width: 320px) {
    .rib {
        background: url(../images/clr-bar.png) no-repeat;
        width: 266px;
        height: 3px;
        background-size: 100%;
    }

    .login input[type="text"] {
        font-size: 12px;
    }

    .login input[type="password"] {
        font-size: 12px;
    }

    body {
        padding: 50px 0px 30px 0px;
    }

    h1 {
        font-size: 21px;
    }

    .login input[type="submit"] {
        font-size: 12px;
        padding: 10px 7px;
        width: 88%;
    }

    .copyright {
        padding: 85px 0px 0px 0px;
    }

    .copyright p {
        font-size: 13px;
    }

    .copyright p a {
        font-size: 13px;
    }

    .login {
        width: 70.4%;
        padding: 40px 20px;
    }
}

